 {% extends '../base.html' %}

{% block title %} Sign In {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

 <div class="container d-flex justify-content-center h-100">
    <div class="row register-form border my-auto pb-5">
        <form method="post">
            {% csrf_token %}
                <div class="col-md-12 text-center register-text">
                    Sign In
                </div>
                <div class="form-group col-md-12 mb-0 mt-3 font-weight-bold pr-3 pl-3">
                  {{ login_form.username |as_crispy_field }}
                </div>

                <div class="form-group col-md-12 mb-0 mt-3 font-weight-bold pr-3 pl-3">
                    {{ login_form.password | as_crispy_field }}
                </div>
                <div class="form-group col-md-12 mb-0 mt-3 font-weight-bold pr-3 pl-3">
                    {{ login_form.captcha | as_crispy_field }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm text-center pr-3 pl-3"> Sign In </button>
                    <p class="font-italic mt-3 font-smaller"> Don't have an account? </p>
                    <a class="font-italic font-smaller" href="{% url 'register' %}">Click Here</a>
                </div>

        </form>
            </div>
        </div>
    </div>
</div>

 <script>
     window.onload = function() {
    var $recaptcha = document.querySelector('#g-recaptcha-response');

    if($recaptcha) {
        $recaptcha.setAttribute("required", "required");
    }
};
 </script>

{% endblock %}
